@import url(./lib/css/pico/pico.css);
@font-face {
    font-family: 'Segoe UI' !important;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

:root {
    --font-body:
        // Arial,
        -apple-system,
        // BlinkMacSystemFont,
        // Oxygen,
        // Ubuntu,
        // Cantarell,
        'Open Sans',
        // 'Helvetica Neue',
        // 'Poiret One',
        'Segoe UI',
        sans-serif;

    --content-width: 1240px;

    --background: #ffffff !important;
    --text: #4A4A4A !important;
    --primary: #77B6BA !important;

    --attention:#378D93;
    // --primary: #2a9ebb !important;
    --primary-hover: #77b5bac8 !important;

    --secondary: #c4b26a !important;
    --white: #fff !important;
    --secondary-hover: #cea917 !important;

    --svg-icon-fill: #060000;
    --svg-icon-stroke: #060000;
    --font-family: 'Segoe UI',  sans-serif, -apple-system !important;
    // --font-family: 'Open Sans', sans-serif;

}

.hover {
    animation: hover 1.5s linear infinite;
}

.svg-icons {
    stroke: var(--svg-icon-stroke);
    fill: var(--svg-icon-fill);
}

.cta {
    input[type="text"],
    input[type="button"] {
        -webkit-appearance: none;
        -webkit-border-radius: 0;
        border-style: none;
    }
    background-color: var(--secondary);
    font-family: var(--font-family, "Segoe UI");
    box-sizing: border-box;
    width: 250px;
    height: auto;
    height: 58px;
    padding: 20px;
    font-style: normal;
    font-weight: 300;
    font-size: 0.8rem;
    font-size: 15px;
    line-height: 18px;
    color: var(--text);
    /* identical to box height */
    text-align: center;
    margin-bottom: 10px;
    img {
        height: 20px;
        margin: 0;
        margin-right: 5px;
        padding: 0;
        margin-top: -3px;
        &:hover {
            cursor: pointer;
        }
    }
    &:hover {
        background-color: var(--secondary-hover) ;
        color: #fff;
        a{
            color: var(--text);
        }
    }
}

html {
    font-size: calc(15px + 0.390625vw);
    scroll-behavior: smooth;
    scroll-snap-type: proximity;
    overflow-y: scroll;

    ::-webkit-scrollbar {
        width: 7px;
        height: 7px;
        transition: all .3s ease-in-out;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: var(--main-background-color, #fff);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: var(--primary, #c4b26a);
        border-radius: 5px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--primary-hover, #ddc35a);
        transition: background-color .3s ease-in-out;
    }

    body {
        font-family: var(--font-body);
        min-height: 100vh;
        height: auto;
        width: 100%;
        margin: 0;
        // box-sizing: inherit;
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 1.2px;
        color: var(--text);
        background-color: var(--background);

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Segoe UI";
            font-weight: 400;
            letter-spacing: 1px;
            margin: 0;
            color: var(--secondary);
            color:var(--text);

        }

        h1.decorator::before,
        h2.decorator::before,
        h3.decorator::before {
            content: "";
            background-color: var(--secondary);
            background-color: var(--primary);
            position: absolute;
            border-color: var(--secondary);
            border-color: var(--primary);
            border-style: solid;
        }

        h1.decorator::before {
            border-bottom-width: 3px;
            width: 5rem;
            height: 5px;
            border-radius: 3px;
            margin-top: 2.9rem;
        }

        h2.decorator::before {
            border-bottom-width: 3px;
            width: 4rem;
            height: 4.5px;
            border-radius: 4.5px;
            margin-top: 2.3rem;
        }

        h3.decorator::before {
            border-bottom-width: 3px;
            width: 3rem;
            height: 3.5px;
            border-radius: 4px;
            margin-top: 2rem;
        }

        li,
        a {
            text-decoration: none;
            list-style: none;
            font-weight: 100;
        }

        // a:hover,
        // a:active,
        // a:focus,
        // a:focus:focus-within,
        // a:visited,
        // a:target,
        // a:focus:focus-visible {
        //     outline: none;
        //     list-style: none;
        //     background-color: transparent ;
        //     transition: none !important;
        //     border: none !important;
        // }

        p {
            margin: 0;
            padding: 0;
            font-size: 1rem;
            // font-size: 14px;
            // letter-spacing: 1px;
        }
        p, .text {
            text-align: justify;
            text-align: left;
            font-size: 0.9rem;
            font-size: 1rem;
            font-size: 18px;
            font-weight: 100;
            font-family: var(--font-family, "Segoe UI");
            color: var(--text);
        }
    }
}

@keyframes hover {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(5px);
    }

    75% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
    }
}

// [data-theme="light"],
// :root:not([data-theme="dark"]) {
//   --primary: #546e7a;
//   --primary-hover: #455a64;
//   --primary-focus: rgba(84, 110, 122, 0.125);
//   --primary-inverse: #FFF;
// }

/* Blue-grey Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --primary: #546e7a;
        --primary-hover: #607d8b;
        --primary-focus: rgba(84, 110, 122, 0.25);
        --primary-inverse: #FFF;
    }
}