@import url(./lib/css/pico/pico.css);
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-body:
      Arial,
      -apple-system,
      BlinkMacSystemFont,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      "Poiret One",
      sans-serif ;
  --background: #ffffff !important;
  --text: #202020 !important;
  --primary:#c4b26a !important;
  --secondary:#44b175 !important;
  --white:#fff !important;
  --primary-hover:#c4b26ac1 !important;
  --secondary-hover:hsla(147, 44%, 48%, 0.75) !important;
  --svg-icon-fill:#060000;
  --svg-icon-stroke:#060000;
}

.hover {
  animation: hover 3s linear infinite;
}

.svg-icons {
  stroke: var(--svg-icon-stroke);
  fill: var(--svg-icon-fill);
}

html {
  font-size: calc(15px + 0.390625vw);
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
  overflow-y: auto;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
html ::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
html ::-webkit-scrollbar-track {
  background: var(--main-background-color, #fff);
}
html ::-webkit-scrollbar-thumb {
  background: var(--primary, #c4b26a);
  border-radius: 5px;
}
html ::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-hover, #ddc35a);
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
html body {
  font-family: var(--font-body);
  min-height: 100vh;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Arial";
  letter-spacing: 1.2px;
  color: var(--text);
  background-color: var(--background);
}
html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6 {
  letter-spacing: 1px;
  margin: 0;
}
html body h1::before, html body h2::before, html body h3::before {
  content: " ";
  background-color: var(--primary);
  position: absolute;
  border-color: var(--primary);
  border-style: solid;
}
html body h1::before {
  border-bottom-width: 5px;
  width: 5rem;
  height: 5px;
  border-radius: 5px;
  margin-top: 2.6rem;
}
html body h2::before {
  border-bottom-width: 4.5px;
  width: 4rem;
  height: 4.5px;
  border-radius: 4.5px;
  margin-top: 2.3rem;
}
html body h3::before {
  border-bottom-width: 3.5px;
  width: 3rem;
  height: 3.5px;
  border-radius: 4px;
  margin-top: 2rem;
}
html body li,
html body a {
  text-decoration: none;
  list-style: none;
}
html body p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  letter-spacing: 1px;
}

@keyframes hover {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* Blue-grey Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: #546e7a;
    --primary-hover: #607d8b;
    --primary-focus: rgba(84, 110, 122, 0.25);
    --primary-inverse: #FFF;
  }
}/*# sourceMappingURL=app.css.map */